# SVM model

In [2]:
import numpy as pd
import pandas as pd
import matplotlib.pyplot as plt

### Mount google drive

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### import dataset

In [4]:
df =  pd.read_csv('/content/drive/MyDrive/topic extraction/data/stories_cleaned_tokenized.csv')

### check dataset and have idea about it

In [5]:
df.head()

,body,topic,cleaned
0,hello and welcome to BBC News a woman who gave...,"['83a09c6b-5f2f-421f-ae50-b38acca7e008', '9ff5...",hello welcome bbc news woman gave key evidence...
1,news now out of North Hollywood. A 14 yearold ...,['9ff54ded-904b-4e0c-85ce-a3617f5cb913'],news north hollywood yearold girl found dead i...
2,homelessness his city's greatest failure. That...,"['83a09c6b-5f2f-421f-ae50-b38acca7e008', '74e2...",homelessness city greatest failure message ton...
3,Minneapolis police officer Kim Potter guilty o...,"['83a09c6b-5f2f-421f-ae50-b38acca7e008', '9ff5...",minneapolis police officer kim potter guilty d...
4,Judy an update now to the wildfires that wiped...,"['9ff54ded-904b-4e0c-85ce-a3617f5cb913', '9a06...",judy update wildfire wiped entire neighborhood...

In [6]:
df.tail()

,body,topic,cleaned
5136,News. More local help will soon be on the way....,"['9ff54ded-904b-4e0c-85ce-a3617f5cb913', '9632...",news local help soon way group volunteer yonke...
5137,"with March 1, we start what is called Meteorol...",['9a06646a-e1df-4fca-888e-69658420556b'],march start called meteorological spring keep ...
5138,overseas. A massive Russian convoy is headed t...,['9ff54ded-904b-4e0c-85ce-a3617f5cb913'],overseas massive russian convoy headed toward ...
5139,"And this morning, the National Hockey League s...","['9ff54ded-904b-4e0c-85ce-a3617f5cb913', 'b492...",morning national hockey league say suspending ...
5140,"thank you very much. Also this morning, the Un...","['83a09c6b-5f2f-421f-ae50-b38acca7e008', '9ff5...",thank much also morning united state asking tw...

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5141 entries, 0 to 5140
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   body     5141 non-null   object
 1   topic    5141 non-null   object
 2   cleaned  5138 non-null   object
dtypes: object(3)
memory usage: 120.6+ KB

In [8]:
df.describe()

,body,topic,cleaned
count,5141,5141,5138
unique,5141,178,5137
top,hello and welcome to BBC News a woman who gave...,['9ff54ded-904b-4e0c-85ce-a3617f5cb913'],vigil today yearold alexis gabe oakley last se...
freq,1,882,2

### module to tokenize text

In [9]:
import nltk

In [10]:
type(df['cleaned'][0])

str

In [11]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [12]:
from nltk.tokenize import word_tokenize 

def text_tokenizer(df):
    corpus=[]
    
    for text in df:
        words = word_tokenize(str(text))
       
        corpus.append(words)
    return corpus
df['tokenized'] = text_tokenizer(df['cleaned'])

In [13]:
df

,body,topic,cleaned,tokenized
0,hello and welcome to BBC News a woman who gave...,"['83a09c6b-5f2f-421f-ae50-b38acca7e008', '9ff5...",hello welcome bbc news woman gave key evidence...,"[hello, welcome, bbc, news, woman, gave, key, ..."
1,news now out of North Hollywood. A 14 yearold ...,['9ff54ded-904b-4e0c-85ce-a3617f5cb913'],news north hollywood yearold girl found dead i...,"[news, north, hollywood, yearold, girl, found,..."
2,homelessness his city's greatest failure. That...,"['83a09c6b-5f2f-421f-ae50-b38acca7e008', '74e2...",homelessness city greatest failure message ton...,"[homelessness, city, greatest, failure, messag..."
3,Minneapolis police officer Kim Potter guilty o...,"['83a09c6b-5f2f-421f-ae50-b38acca7e008', '9ff5...",minneapolis police officer kim potter guilty d...,"[minneapolis, police, officer, kim, potter, gu..."
4,Judy an update now to the wildfires that wiped...,"['9ff54ded-904b-4e0c-85ce-a3617f5cb913', '9a06...",judy update wildfire wiped entire neighborhood...,"[judy, update, wildfire, wiped, entire, neighb..."
...,...,...,...,...
5136,News. More local help will soon be on the way....,"['9ff54ded-904b-4e0c-85ce-a3617f5cb913', '9632...",news local help soon way group volunteer yonke...,"[news, local, help, soon, way, group, voluntee..."
5137,"with March 1, we start what is called Meteorol...",['9a06646a-e1df-4fca-888e-69658420556b'],march start called meteorological spring keep ...,"[march, start, called, meteorological, spring,..."
5138,overseas. A massive Russian convoy is headed t...,['9ff54ded-904b-4e0c-85ce-a3617f5cb913'],overseas massive russian convoy headed toward ...,"[overseas, massive, russian, convoy, headed, t..."
5139,"And this morning, the National Hockey League s...","['9ff54ded-904b-4e0c-85ce-a3617f5cb913', 'b492...",morning national hockey league say suspending ...,"[morning, national, hockey, league, say, suspe..."
5140,"thank you very much. Also this morning, the Un...","['83a09c6b-5f2f-421f-ae50-b38acca7e008', '9ff5...",thank much also morning united state asking tw...,"[thank, much, also, morning, united, state, as..."

In [14]:
for indx, text in enumerate(df['cleaned']):
    df['cleaned'][indx] = str(text)

### find SVM model with best hyper parameters

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.preprocessing import LabelEncoder



#  Feature Extraction
vectorizer = TfidfVectorizer()  # You can customize the vectorizer parameters if needed
X = vectorizer.fit_transform(df['cleaned'])
y = df['topic']
# y = pd.get_dummies(y)
# y = OneHotEncoder(y)
#  Encode the target variable
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)

#  Splitting the Data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

 Training the Classifier
classifier = SVC()  # You can try different classifiers or tune the parameters
classifier.fit(X_train, y_train)

#  Model Evaluation
y_pred = classifier.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred, average='weighted')
recall = recall_score(y_test, y_pred, average='weighted')
f1 = f1_score(y_test, y_pred, average='weighted')

print(f"Accuracy: {accuracy}")
print(f"Precision: {precision}")
print(f"Recall: {recall}")
print(f"F1-score: {f1}")


#  Prediction for New Data
# Use the trained classifier to predict topics for new, unseen data
new_data = ["This is a new text to classify.", "Another example for topic classification."]
new_data_features = vectorizer.transform(new_data)
predicted_topics = classifier.predict(new_data_features)
print(predicted_topics)

Accuracy: 0.45286686103012636
Precision: 0.3648853613097924
Recall: 0.45286686103012636
F1-score: 0.3693843802038233
[129 129]

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [16]:
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import SVC



#  Feature Extraction
vectorizer = TfidfVectorizer()  # You can customize the vectorizer parameters if needed
X = vectorizer.fit_transform(df['cleaned'])
y = df['topic']

label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)
#  Splitting the Data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Step 4: Define the parameter grid
param_grid = {
    'C': [0.1, 0.5, 1, 2, 5, 10],
    'kernel': ['linear', 'rbf', 'sigmoid'],
}

#  Perform grid search
classifier = SVC()
grid_search = GridSearchCV(classifier, param_grid, cv=5)
grid_search.fit(X_train, y_train)

# Retrieve the best parameters and score
best_params = grid_search.best_params_
best_score = grid_search.best_score_

print("Best Parameters:", best_params)
print("Best Score:", best_score)

# Evaluate with best parameters
classifier = SVC(**best_params)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)


accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred, average='weighted')
recall = recall_score(y_test, y_pred, average='weighted')
f1 = f1_score(y_test, y_pred, average='weighted')

print(f"Accuracy: {accuracy}")
print(f"Precision: {precision}")
print(f"Recall: {recall}")
print(f"F1-score: {f1}")


#  Prediction for New Data
# Use the trained classifier to predict topics for new, unseen data
new_data = ["This is a new text to classify.", "Another example for topic classification."]
new_data_features = vectorizer.transform(new_data)
predicted_topics = classifier.predict(new_data_features)
print(predicted_topics)

/usr/local/lib/python3.10/dist-packages/sklearn/model_selection/_split.py:700: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

Best Parameters: {'C': 2, 'kernel': 'sigmoid'}
Best Score: 0.48735177515055306
Accuracy: 0.4878522837706511
Precision: 0.410812936316143
Recall: 0.4878522837706511
F1-score: 0.4356163800198112
[129  81]

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

### save model

In [17]:
from joblib import dump, load

dump(best_params, 'svm_model.joblib')

['svm_model.joblib']

### SVM model with gloves embedding

In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
import numpy as np
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
import string



#  Load pre-trained GloVe embeddings from file
glove_file = '/content/drive/MyDrive/emotion detection/data/glove.6B.50d.txt'


word_embeddings = {}
with open(glove_file, 'r', encoding='utf8') as f:
    for line in f:
        values = line.strip().split()
        word = values[0]
        embedding = np.array(values[1:], dtype=np.float32)
        word_embeddings[word] = embedding

# Splitting the Data
X = df['cleaned']
y = df['topic']
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Tokenization and Convert text data to GloVe embeddings
# stop_words = set(stopwords.words('english'))

def preprocess_text(text):
    # Tokenize the text
    tokens = word_tokenize(text)
    # Remove punctuation and convert to lowercase
    # Remove stop words
    return tokens

def text_to_embeddings(text):
    tokens = preprocess_text(text)
    embeddings = []
    if tokens:
        for token in tokens:
            if token in word_embeddings:
                embeddings.append(word_embeddings[token])
    if embeddings:
        return np.mean(embeddings, axis=0)
    else:
        # Handle out-of-vocabulary words
        return np.zeros_like(list(word_embeddings.values())[0])

X_train_embeddings = [text_to_embeddings(text) for text in X_train]
X_test_embeddings = [text_to_embeddings(text) for text in X_test]

# Train the classifier with GloVe embeddings
classifier = SVC()
classifier.fit(X_train_embeddings, y_train)

# Make predictions on the test data
y_pred = classifier.predict(X_test_embeddings)

# Calculate evaluation metrics
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred, average='weighted')
recall = recall_score(y_test, y_pred, average='weighted')
f1 = f1_score(y_test, y_pred, average='weighted')

print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1-score:", f1)

Accuracy: 0.43440233236151604
Precision: 0.3111460919385393
Recall: 0.43440233236151604
F1-score: 0.34203745291801

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))